<ng-container *ngIf="node.type == 'static';else notStaticType">
  <app-youtube *ngIf="node.subtype == 'youtube'" [formGroup]="formGroup" [node]="node"></app-youtube>
  <app-image *ngIf="node.subtype == 'image'" [formGroup]="formGroup" [node]="node"></app-image>
  <app-richtext *ngIf="node.subtype == 'richtext'" [formGroup]="formGroup" [node]="node"></app-richtext>
  <app-section *ngIf="node.subtype == 'section-break'" [formGroup]="formGroup" [node]="node"></app-section>
</ng-container>

<ng-template #notStaticType>


  <div [formGroup]="formGroup" class="form-group">

    <label class="question-label" [attr.for]="node.name">
      {{node.name}}
    </label>

    <span *ngIf="node.required" class="required"><fa-icon [icon]="faAsterisk"></fa-icon></span>

    <button  #tooltip="matTooltip"   matTooltipPosition="right"
      mat-icon-button class="mat-icon-button help"  *ngIf="node.help"   [matTooltip]="node.help">
      <mat-icon>help_outline</mat-icon>
    </button>

    <button  #constraints="matTooltip"   matTooltipPosition="right"
      mat-icon-button class="mat-icon-button help"  *ngIf="getValueConstraints().length"   [matTooltip]="getValueConstraints()">
      <mat-icon>info_outline</mat-icon>
    </button>



    <div *ngIf="node.type == 'attribute-value' || node.type == 'list' || node.type == 'controlled' || node.type == 'checkbox' || node.type == 'radio'">

      <app-attribute-value *ngIf="node.type == 'attribute-value'" [formGroup]="formGroup" [node]="node"
        (changed)="onChange($event)"></app-attribute-value>

      <app-list *ngIf="node.type == 'list'" [formGroup]="formGroup" [node]="node"
        [mode]="mode"
        (changed)="onChange($event)"></app-list>

      <app-controlled *ngIf="node.type == 'controlled'" [group]="formGroup"
        [mode]="mode"
        [valueConstraints]="node.valueConstraints"
        [autocompleteResults]="autocompleteResults"
        (autocomplete)="onAutocomplete($event)"
        (onRemovedOption)="onRemovedControlled($event)"
        (onSelectedOption)="onSelectedControlled($event)"></app-controlled>

      <app-checkbox *ngIf="node.type == 'checkbox'" [formGroup]="formGroup" [node]="node" [mode]="mode"
        (changed)="onChange($event)"></app-checkbox>

      <app-radio *ngIf="node.type == 'radio'" [formGroup]="formGroup" [node]="node"
        (changed)="onChange($event)"></app-radio>
    </div>

    <div *ngIf="allowsMultiple(node.type)">
      <div [ngSwitch]="node.type">
        <div *ngFor="let control of formGroup.controls['values']['controls'];index as i">


          <div *ngIf="node.multiSelect" style="padding-top:.5em">
            {{node.name}}  ({{(i + 1)}}  of {{ node.maxItems || 'N' }})
            <button mat-icon-button class="node-add" *ngIf="mode === 'edit'" (click)="copyItem(node,i)">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button class="node-remove" *ngIf="mode === 'edit'" (click)="removeItem(node,i)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>

          <app-textfield *ngSwitchCase="'textfield'"
            [formGroup]="formGroup"
            [control]="control"
            [node]="node"
            [mode]="mode"
            [index]="i"
            (changed)="onChange($event)"></app-textfield>

          <app-textarea *ngSwitchCase="'textarea'" [formGroup]="formGroup" [control]="control" [node]="node"
            [index]="i" (changed)="onChange($event)"></app-textarea>

          <app-date *ngSwitchCase="'date'" [formGroup]="formGroup" [control]="control" [node]="node" [index]="i"
            (changed)="onChange($event)"></app-date>
        </div>
      </div>
    </div>
  </div>
</ng-template>

