.mat-form-field {
  margin-bottom:10px;
  width:100%
}

:host ::ng-deep .cdk-overlay-container  .cdk-overlay-pane {
  background-color:red !important;
  background-color: red !important;
  top: 100px;
  left: 100px;
  color: red !important;
  position: absolute;
}

.cdk-overlay-container  .cdk-overlay-pane {
  background-color:red !important;
  background-color: red !important;
  top: 100px;
  left: 100px;
  color: red !important;
  position: absolute;
}
