@import '~src/theme.scss';

.cedar-form {
  margin: 10px 0;

  ul, li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}


button.mat-icon-button.help, button.mat-icon-button.node-add, button.mat-icon-button.node-remove {
  z-index: 100;
  position: relative;
  min-width: 0;
  width: 2em;
  height: 2em;
  line-height: 1em;
  padding:5px;

  .mat-button-wrapper {
    z-index: -100;
    position: relative;
    padding: 0;
    margin: 0;
    height: 1em;
    display: inherit;

    .mat-icon {
      font-size: 1em;
      width: 1em;
      height: 1em;
      line-height: 1em;
      padding: 0;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

label.element-label {
  margin: 0;
  font-weight: bolder;
  width: 100%;
  padding: 0 5px;
}

.mat-form-field {
  margin-bottom: 10px;
  width: 100%
}


// changes for view mode

*:focus {
  outline: none !important;
  border: 0 !important;
}

.mat-form-field-disabled .mat-form-field-underline, .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline, .mat-form-field-disabled .mat-form-field-underline {
  background-image: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54) !important;
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled {
  color: rgba(0, 0, 0, .87) !important;
}

.mat-icon-button[disabled][disabled] {
  color: rgba(0, 0, 0, .54) !important;
}

:host ::ng-deep .mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.87);
}

:host ::ng-deep .mat-select-disabled .mat-select-value {
  color: rgba(0, 0, 0, 0.87);
}

:host ::ng-deep .mat-option.mat-option-disabled {
  color: rgba(0, 0, 0, 0.87);
}

:host ::ng-deep .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-disabled, .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-disabled {
  background-color: mat-color($my-app-accent, 500);
}

.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

.mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-inner-circle {
  background-color: mat-color($my-app-accent, 500) !important;
}

.mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle {
  border-color: mat-color($my-app-accent, 500) !important;

}

.mat-radio-button.mat-radio-disabled .mat-radio-label-content {
  color: rgba(0,0,0,.87) !important;
}
