@import '~src/theme.scss';

.mat-form-field {
  margin-bottom:10px;
  width:100%
}

// changes for view mode

:host ::ng-deep  .mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.87);
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.87);
}

.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: none;
  border-bottom:1px solid rgba(0, 0, 0, 0.54);
}

:host ::ng-deep .mat-form-field-disabled .mat-form-field-underline {
  color: rgba(0, 0, 0, 0.87);
}


:host ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: none;
  border-bottom:1px solid rgba(0, 0, 0, 0.54);
}
